img{
    height: 100px;
}

header{
    display: flex; 
    border-bottom: 2px solid #6B5CFF; 
}

h2{
    position: sticky;
    top: 15%;
    left: 5%;
}

.nose1{
    position: relative;
    top: 50px;
    
    
}